* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 50px;
}

#navbar_logo {
    background-color: white;
    background-image: linear-gradient(to right, #c800ff, #b900fb, #a900f7, #9a02f3, #8904ef, #624bfd, #3669ff, #007fff, #00a8ff, #00c8ff, #00e4ee, #5ffbd6); /* Change the home text colour gradient */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    transition: all 0.3s ease;
}

.navbar_links:hover { /* hover actions need one here and at the navbar_links for cleaner animation effect */
    color: magenta;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; /* dropdown effect at the top */
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active { /* all navbar menu active, when you click on icon, it showcases it. */
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh; /* 60% of the viewport */
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px; /* move it to the right a bit */
    }

    .navbar_toggle .bar { /*creating the actual handle menu */
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links { /* center the menu links */
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_button { /* have little spacing */
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
/* this section creates the rotating toggle button to X effect with the help of javascript */
    #mobile-menu.is-active .bar:nth-child(2) { /* targetting the second child */
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) { /* targetting the second child */
        transform: translateY(8px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3) { /* targetting the second child */
        transform: translateY(-8px) rotate(-45deg); 
    }
}

/* Hero Section */
.hero {
    background: rgb(6,43,43);
    background: linear-gradient(0deg, rgba(6,43,43,1) 0%, rgba(183,22,187,1) 100%);
    padding: 200px 0;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

/* Cop your shoes text */
.hero_heading {
    font-size: 120px;
    margin-bottom: 24px;
    color: rgb(132, 0, 255);
}

/* Shoes border colour */ 
.hero_heading span {
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00d0ff, #00c2ff, #25b0ff, #6d9aff, #a37eff, #b86bff, #d24fff, #ee00ff, #e300ff, #d700ff, #cb00ff, #bf00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00d0ff, #00c2ff, #25b0ff, #6d9aff, #a37eff, #b86bff, #d24fff, #ee00ff, #e300ff, #d700ff, #cb00ff, #bf00ff);; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
/* Worldwide Drops text styling */
.hero_description {
    font-size: 60px;
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.highlight {
    border-bottom: 4px solid magenta;
}
/* Responsiveness */
@media screen and (max-width: 768px) {
    .hero_heading {
        font-size: 60px;
    }

    .hero_description {
        font-size: 40px;
    }
}

/* About Section */
.main {
    background-color: #1f1919;
    padding: 10rem 0;
}
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50 px;
}
/* colour text */
.main_content {
    color: #8a5be9;
    width: 100%;
}

.main_content h1 {
    font-size: 2rem;
    background-color: red;
    background-image: linear-gradient(to right, #631579, #6916d4, #a900f7, #9a02f3, #8904ef, #624bfd, #3669ff, #007fff, #00a8ff, #00c8ff, #00e4ee, #5ffbd6); /* Change the home text colour gradient */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main_content h2 {
    font-size: 4rem;
    background: #e6167a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec1c1c, #ec2c89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main_button {
    font-size: 1.8rem;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_button a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}
/* help with the button transition */
.main_button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: magenta;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_button:hover {
    color: white;
}

.main_button:hover:after {
    width: 100%;
}

.main_img_container {
    text-align: center;
}

.main_img_card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #f708d7 0%, #0ec5e6 100%);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }
    .main_img_container {
        display: flex;
        justify-content: center;
    }
    .main_img_card {
        height: 425px;
        width: 425px;
    }

    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main_content h2 {
        font-size: 3rem;
    }
    .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main_img_card {
        width: 250px;
        height: 250px;
    }
    .main_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main_content h2 {
        font-size: 2rem;
    }
    .main_content p {
        margin-top: 1rem;
        font-size: 2rem;
    }
    .main_button {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services Styling*/
.services {
    background: #1f1919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    padding: 0 50 px;
}
/* Text colour */
.services h1 {
    background-color: white;
    background-image: linear-gradient(to right, #c800ff, #b900fb, #a900f7, #9a02f3, #8904ef, #624bfd, #3669ff, #007fff, #00a8ff, #00c8ff, #00e4ee, #5ffbd6); /* Change the home text colour gradient */
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #00000000 0%, #11111199 100%), url('/ID_P02_Jeff_Test/images/techsupport.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.services_card:nth-child(2){
    background-image: linear-gradient(to bottom, #00000000 0%, #11111199 100%), url('/ID_P02_Jeff_Test/images/sneakers.jpeg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services_card p {
    position: absolute;
    bottom: 400px;
    left: 30p;
}

.services_card button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: magenta;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services{
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services{
        height: 1400px;
    }

    .services_card {
        width: 300px;
    }
}